body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: #ffffff;
}
.fr{
    float: right;
    margin-bottom: 15px;
}
.rb{
    border-right: 1px solid rgba(0, 0, 0, 0.48);
}
.red{
    color: red;
}
.text-desd{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
